*{box-sizing: border-box;}
html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #626266;
}
.clearfix{
    display: block;
    clear:both;
}


/* ---------------------------- 
            MENU
---------------------------- */
.menu-container{
    background-color: #020304;
}

.logo-container{
    float: left;
}
.logo-container a{
    padding: 19px 30px;
    color: #CC9E61;
    font-size: 20px;
    font-family: fantasy;
    text-decoration: none;
    display: inline-block;
}

#menu{
    margin: 0;
    float: right;
    margin-right: 20px;
}
#menu li{
    display: inline;
}
#menu li a{
    padding: 30px 15px 49px;
    color: #CC9E61;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
}
#menu li a:hover{
    color: #541F14;
    background-color: #CC9E61;
    border-radius: 30px 30px 0 0;
}

.linha-menu{
    height: 5px;
    background-color: #CC9E61;
    box-shadow: 0 1px 10px black;
}


/* ---------------------------- 
            MAIN
---------------------------- */

#main{
    /*background-color: white;
    padding: 10px;
    border-radius: 20px;*/
    margin: 30px auto;
    width: 800px;
    background-color: white;
    border: 5px solid #541F14;
    padding: 30px 50px 50px;
    border-radius: 20px;
    color: #541F14;
}
.main-content{
    
}
.titulo{
    font-family: Arial, sans-serif;
    text-align: center;
}
fieldset{
    padding: 20px;
}
form > div{
    margin-bottom: 20px;
}
form label{
    display: inline-block;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    font-family: Arial, sans-serif;
}
form input[type=text],
form input[type=password],
form input[type=email],
form select{
    border-radius:5px;
    height: 20px;
    width: 300px;
}
.submit{
    background-color: #541F14;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #999;
    cursor: pointer;
    color: white;
    float: right;
}